<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
   
    <style>
      
      a{
        font-size: 30px;
      }
  </style>
</head>
<body style="background: rgb(189,63,251);
background: radial-gradient(circle, rgba(189,63,251,1) 0%, rgba(70,252,149,0.44861694677871145) 100%);">
 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
             
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'studenthome' %}" style="color:white;">Home</a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'coursestu' %}" style="color:white;">View course</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

<center>

{% for i in data %}

<div class="card text-dark bg-light mb-3" style="width: 400px;  border-radius: 25px;">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">Course Name: {{ i.coursename }}</h5>
    <p class="card-text">Teacher Name:{{ i.tname }} </div>
    <p class="card-text">Qualification:{{ i.qualification }} </div>
</div>
{% endfor %}
</center>
</body>
</html>