<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <style>
        a{
            font-size: 30px;
           
        }
        form
        {
            margin-left:500px;
            margin-right: 500px;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body style="background: rgb(189,63,251);
background: radial-gradient(circle, rgba(189,63,251,1) 0%, rgba(70,252,149,0.44861694677871145) 100%);">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
             
              <li class="nav-item">
                <a class="nav-link" href="{% url 'welcome' %}" style="color:white">Home</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'stulogin' %}" style="color:white">Login</a>
              </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sturegister' %}" style="color:white">Register</a>
          </li>
          
            </ul>
          </div>
        </div>
      </nav>

      
      <br><br><br>

      <form action = "stulogin" method="POST" style="background-color: white; padding:20px; border-radius: 25px;">
           {% csrf_token %} 
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        
        <center><button type="submit" class="btn btn-primary">Submit</button></center>
      </form>
      {% for message in messages %}
      <h2>{{ message}}</h2>
   {%endfor%}

</body>
</html>